/* Image de fond pour toute la page */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Rendre l'arrière-plan de Streamlit transparent */
.stApp {
    background: transparent !important;
}




/* Import de la police */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* Style du titre */
.title {
    color: white !important;
    font-family: 'Special Elite', serif !important;
    font-size: 60px !important;
    text-align: center !important;
    font-weight: bold !important;
    white-space: nowrap !important;
}

/* Conteneur principal pour toutes les films --- */
.left-container {
    position: fixed;
    top: 800px;
    left: 300px;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px
}

/* Films 1 */
.col1-top-left {
    position: absolute;
    top: 0px; 
    left: 0px;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

/* Films 2 (Haut Milieu) */
.col2-top-middle {
    position: absolute;
    top: 0px; 
    left: 220px;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

/* Films 3 (Haut Droite) */
.col3-top-right {
    position: absolute;
    top: 0px; 
    left: 440px;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

/* Films 4 (Bas Gauche) */
.col4-bottom-left {
    position: absolute;
    top: 330px;
    left: 130px;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

/* Films 5 (Bas Milieu) */
.col5-bottom-middle {
    position: absolute;
    top: 330px;
    left: 350px;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

/* Conteneur principal pour toutes les acteurs --- */
.right-container {
    position: fixed;
    top: 800px;
    right: 300px;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px
}

/* Acteurs 1 */
.image1-top-left {
    position: absolute;
    top: 0px; 
    right: 0px;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

/* Acteurs 2 */
.image2-top-middle {
    position: absolute;
    top: 0px; 
    right: 220px;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

/* Acteurs 3 */
.image3-top-right {
    position: absolute;
    top: 0px; 
    right: 440px;
    width: 200px;
    height: auto;
    border-radius: 5px;
}